.root{
    -fx-font-size: 10pt;
}
.button{
    /*-fx-background-color: dimgray;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 0.7;
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(dimgray 0%, darkgrey 50%, gray 51%, gray 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;*/
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 11px;
    -fx-padding: 10 20 10 20;
}
.label{
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-smoothing-type: nt-;
    -fx-opacity: 0.7;
}
.list-view{
    -fx-text-fill: derive;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-smoothing-type: nt-;
    -fx-opacity: 0.7;
}
.text-field{
    -fx-text-fill: black;
    -fx-opacity: 0.4;
    -fx-background-color: darkgray;
    -fx-prompt-text-fill: gray;
    -fx-font-family: "Segoe UI Semibold";
}
.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    /* if I would put a colour here it would basically colour the space around the text*/
}
.menu-bar{
    -fx-background-color: dimgray;
}
/* coloring the menu items like File, Edit and Help*/
.context-menu {
    -fx-background-color: dimgray;
}

#pane{
    -fx-background-image: url("1366x768.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 640 468;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

